<script>
  // Tenemos que mantener un mapa entre los valores pasados por defecto
  // en JSON ({ valor_escrito => valor_guardado })
  //
  // Props
  export let values = '[]'
  export let defaultValues = '{}'
  export let button = 'Agregar'
  export let legend = ''
  export let described = ''
  export let name
  export let list
  export let remove = true

  let default_values = JSON.parse(defaultValues)
  let group = JSON.parse(values)
  let stored_values = {}
  let added_value = ''

  group.forEach(x => stored_values[x] = Object.keys(default_values).find(k => default_values[k] == x))

  // Agrega el valor escrito en el campo de texto
  const addValue = (event) => {
    // Solo si presionamos <Enter>
    if (event.keyCode != undefined && event.keyCode != 13) return

    event.preventDefault()
    event.stopPropagation()

    if (added_value.length == 0) return
    if (!default_values[added_value]) return
    if (stored_values[default_values[added_value]]) return

    // Agrega el valor y dispara la creación de un checkbox
    group.push(default_values[added_value])
    // La inversa
    stored_values[default_values[added_value]] = added_value

    // Vaciar el campo de texto al terminar
    added_value = ''
  }

  // Elimina el valor del listado y opcionalmente el checkbox mismo
  const removeValue = (event) => {
    // No hacer nada si se lo pedimos
    if ([false,'false'].includes(remove)) return

    // El valor siempre está chequeado, porque al eliminar uno el
    // siguiente obtiene el foco y se deschequea
    event.target.checked = "checked";
    group = group.filter(x => x !== event.target.value)
    delete stored_values[event.target.value]
  }
</script>

<div class="input-map">
  <!--
    Este es el <input/> donde se pueden escribir valores

    No tiene @name para no enviar un valor vacío.  Si queremos soportar
    envío sin JS, usamos <noscript>
  -->
  <input type="text"
         on:keypress={addValue}
         bind:value={added_value}
         aria-describedby={described}
         {list}
        />

  <input type="button" value={button} on:click={addValue} />

  <!-- Crea un checkbox por cada valor agregado -->
  <fieldset>
    <legend>{legend}</legend>
    {#each group as value}
      <label>
        <!--
          XXX: Podríamos usar group:bind para aprovechar la magia de Svelte
          pero nos dió resultados inesperados y además tenemos que hacer
          otras cosas con el array que genera.

          Mostramos lo que se escribió pero enviamos el valor real.
        -->
        <input on:change={removeValue}
              type="checkbox"
              checked="checked"
              aria-describedby={described}
              {value} {name} />
        {stored_values[value]}
      </label>
    {/each}
  </fieldset>
</div>
